@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");


html, body{
    scroll-behavior: smooth;
    color: black;
    height: 100%;
    width: 100%;    
    font-family: 'PT Serif', serif;  
    font-size: medium;    
}


.no-display{
    visibility: hidden;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    color: inherit;
}

a:hover{
    color: inherit;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 100%;
}

object{
    width: 100%;
    object-fit: cover;
}

.profile-jumbo{   
    /* background-color: #ece1e1; */
    border-radius: 0%;
    padding-top: 1em;
    background-color: #f4f4f4;
}

.map-jumbo{
    background-color: transparent;
    padding-top: 1em;
    padding-right: 0em;
    padding-left: 0em;
}

.bolden{
    font-weight: 600;
}

.post-card,
.list-card{
    margin-bottom: 1em;
    background-color: #f4f4f4;
    font-size: medium;
    line-height: 1em;
    padding-top: 0em;
}

.post-card .card-body{
    padding-bottom: 0em;
}


.title-font{
    font-family: 'Fondamento', cursive;    
    font-weight: 600;
}

.auth-pg .jumbotron{
    background-color: transparent;
}

.admin-font{
    font-size: 0.5em;
}


/* 
.jumbo a {    
    color: inherit;
}


.jumbo .jumbotron{
    background-color: transparent;
}

.jumbotron-quote{
    padding-left: 2em !important;
    padding-right: 2em !important;
    background-color: #ece1e1;
    border-radius: 0% !important;
}

.jumbotron-quote p{
    font-size: 1.1em;
}

.project-card{    
    border: 1px solid lightgray;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    height: 100%;
    background-color: #f6f6f6;
}

.project-card:hover{
    transform: scale(1.01);
}

.mb-4{
    margin-bottom: 2em;
}

.bolden{
    font-weight: 600;
}


.under-nav{
    padding-top: 3em;
}


#rating_form h5{
    margin-top: 1em;
}

#rating_form .btn-default{
    background-color: darkblue;
    color: white;
}

#rating_form .btn-default:hover{
    background-color: blue;
    color: white;
}

.account_options,
.project_options{
    display: none;
}

.jumbo-project-update{
    background-color: transparent;
}

.title-font{
    font-family: 'Fondamento', cursive;
    font-size: 3em;
    font-weight: 600;
}

.auth-pg .jumbotron{
    background-color: transparent;
}

.auth-pg .card{
    border: 1px solid lightgray;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    height: 100%;
    background-color: #f6f6f6;
}

.no-pad-top{
    padding-top: 0em;
}

@media screen and (max-width: 1439px) and (min-width:768px){
    .app-intro{
        padding-left: 1em !important;
        padding-right: 1em !important;        
    }
}

@media screen and (max-width: 992px){
    .carousel-inner img{
        max-height: 50vh;       
        object-fit: cover;
        object-position: 50% 0%;
    }
}

@media screen and (max-width: 768px){
    .carousel-inner img{
        max-height: 40vh;       
        object-fit: cover;
        object-position: 50% 0%;
    }
}

@media screen and (max-width: 425px){
    .carousel-inner img{
        max-height: 30vh;       
        object-fit: cover;
        object-position: 50% 0%;
    }
}


.quote p{
    font-size: medium;
}

.green{
    color: rgb(75, 74, 74);
}
 */


